<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyk.sign.persistence.CourseMapper">

	<resultMap type="com.wyk.sign.model.Course" id="courseMap">
		<id property="id" column="id" javaType="long" />
		<result property="name" column="name" />
		<result property="status" column="status" />
		<association property="admin" javaType="com.wyk.sign.model.Administrator">
			<id property="id" column="admin_id"/>
			<result property="wxId" column="admin_wx_id" />
			<result property="wxName" column="admin_wx_name" />
			<result property="wxAvatarUrl" column="admin_wx_avatar_url" />
			<result property="realName" column="admin_real_name" />
			<result property="userType" column="admin_user_type" />
			<result property="status" column="admin_status" />
		</association>
	</resultMap>

	<sql id="selectSQL">
		select co.*,
			ad.wx_name as admin_wx_name,
			ad.wx_avatar_url as admin_wx_avatar_url,
			ad.real_name as admin_real_name,
			ad.user_type as admin_user_type,
			ad.status as admin_status
		from tb_course co
		inner join tb_admin ad on co.admin_id=ad.id and ad.user_type = 2
	</sql>

	<!-- Base Mapper -->
	<select id="get" parameterType="hashmap" resultMap="courseMap">
		<include refid="selectSQL" />
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
		limit 0,1
	</select>

	<select id="query" resultMap="resultMap">
		<include refid="selectSQL" />
	</select>

	<select id="queryByMap" parameterType="hashmap" resultMap="courseMap">
		<include refid="selectSQL" />
		<where>
			<if test="name != null">
				co.name = #{name}
			</if>
			<if test="admin.wxId != null">
				and ad.admin_wx_Id = #{admin.wxId}
			</if>
			<if test="admin.wxName != null">
				and ad.admin_wx_name = #{admin.wxName}
			</if>
			<if test="admin.realName != null">
				and ad.real_name = #{admin.realName}
			</if>
		</where>
		order by seq
	</select>

	<insert id="insert" parameterType="com.wyk.sign.model.Course"
		useGeneratedKeys="true" keyProperty="id">
		insert into tb_course (
		admin_id,
		name,
		status)
		values
		(#{admin.id},
		#{name},
		#{status})
	</insert>

	<update id="update" parameterType="com.wyk.sign.model.Course">
		update tb_course set
		admin_id=#{admin.id},
		name=#{name},
		status=#{status},
		modify_time=#{modifyTime}
		where id = #{id}
	</update>

	<delete id="delete" parameterType="com.wyk.sign.model.Course">
		delete from tb_course
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</delete>
	<!-- End of Base Mapper -->

</mapper>