<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyk.sign.persistence.TaskMapper">

	<resultMap type="com.wyk.sign.model.Task" id="TaskMap">
		<id property="id" column="id" javaType="long" />
		<result property="upFileUrl" column="up_file_url" />
		<result property="desc" column="desc" />
		<result property="score" column="score" />
		<association property="stu" javaType="com.wyk.sign.model.Student">
			<id property="id" column="stu_id"/>
			<result property="wxId" column="stu_wx_id" />
			<result property="wxName" column="stu_wx_name" />
			<result property="wxAvatarUrl" column="stu_wx_avatar_url" />
			<result property="realName" column="stu_real_name" />
			<result property="userType" column="stu_user_type" />
			<result property="sno" column="stu_sno" />
			<result property="status" column="stu_status" />
		</association>
		<association property="info" javaType="com.wyk.sign.model.TaskInfo">
			<id property="id" column="info_id"/>
			<result property="deadlineTime" column="info_deadline_time" />
			<result property="remark" column="info_remark" />
			<result property="status" column="info_status" />
		</association>
	</resultMap>

	<sql id="selectSQL">
		select t.*,
			stu.wxName as stu_wx_name,
			stu.wxAvatarUrl as stu_wx_avatar_url,
			stu.realName as stu_real_name,
			stu.userType as stu_user_type,
			stu.sno	as stu_sno,
			stu.status as stu_status,
			info.deadline_time as info_deadline_time,
			info.remark as info_address,
			info.status as info_status
		  from (tb_task t inner join tb_student stu on  t.stu_id = stu.id) inner join tb_task info
		  	on t.taskinfo_id = info.id
	</sql>

	<!-- Base Mapper -->
	<select id="get" parameterType="hashmap" resultMap="TaskMap">
		<include refid="selectSQL" />
		<where>
			<if test="id != null">
				s.id = #{id}
			</if>
		</where>
		limit 0,1
	</select>

	<select id="query" resultMap="resultMap">
		<include refid="selectSQL" />
	</select>

	<select id="queryByMap" parameterType="hashmap" resultMap="TaskMap">
		<include refid="selectSQL" />
		<where>
			<if test="stu.wxName != null">
				stu_wx_name = #{stu.wxName}
			</if>
			<if test="stu.sno != null">
				and stu_sno = #{stu.sno}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="com.wyk.sign.model.Task"
		useGeneratedKeys="true" keyProperty="id">
		insert into tb_task (
		stu_id,
		taskinfo_id,
		up_file_url,
		`desc`,
		score,
		status)
		values
		(#{stu.id},
		#{taskinfo.id},
		#{upFileUrl},
		#{desc},
		#{score},
		#{status})
	</insert>

	<update id="update" parameterType="com.wyk.sign.model.Task">
		update tb_task set
		stu_id=#{stu.id},
		taskinfo_id=#{taskinfo.id},
		up_file_url=#{upFileUrl},
		`desc`=#{desc},
		score=#{score},
		status=#{status},
		modify_time=#{modifyTime}
		where id = #{id}
	</update>

	<delete id="delete" parameterType="com.wyk.sign.model.Task">
		delete from tb_task
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</delete>
	<!-- End of Base Mapper -->

	<delete id="deleteByInfoId" parameterType="java.lang.Integer">
		delete from tb_task
		<where>
			<if test="infoId != null">
				info_id = #{infoId}
			</if>
		</where>
	</delete>
</mapper>